.one
{
    padding-top: 50px;
    height: 500px;
    background-color: #f7f7f7;
}



.owl-carousel .owl-item {
    height: 400px!important;
}

.header h4
{
    color:#354250;
    font-weight: bold;
    padding-left: 10px;
}
.header h4 i
{
    padding-right: 10px;
}
.navbar-vertical
{
    background-color: #fff;
}

.navbar-vertical .nav li a 
{
    background-color: #ffffff;
    border-bottom: 1px solid white;
    color: #878c94;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
    padding: 10px 13px;
    font-size: 14px;
}
.navbar-vertical .nav li a:hover, .navbar-vertical .nav li a:active, .navbar-vertical .nav li a:focus 
{
    background-color: white;
    color: #35404f;
}

    body,ul,li 
    { 
        margin:0px; padding:0px; 
    }

 /* .toolgroup li,.toolgroup li ul li 
 {
  width:100%;
  position:relative;
 }
 .toolgroup li a,.toolgroup li ul li a 
 {
  padding:7px 10px;
  display:block; 
  border-bottom:1px solid #000;
 }
 .toolgroup li ul 
 {
     display:none; 
     position:absolute; 
     left:263px; 
     top:0px; 
     border-radius: unset;
 }
 .toolgroup li:hover 
 { 
    display:block; 
 }  */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}



.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}








.dropdown-toggle {
  position: relative;
}

.dropdown-toggle>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-toggle:hover>.dropdown-menu {
  display: block;
}



.dropdown-toggle:hover>a:after {
  border-left-color: #fff;
}

.dropdown-toggle.pull-left {
  float: none;
}

.dropdown-toggle.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


.alert
{
    background-color:#42b3f4;
  position: fixed;
  width: 200px;
  height: 100px;
  right:0;
  top: 20%;
  z-index: 2;
}
.closebtn
{
   position: absolute;
  right:0;
  top: 0;
  cursor: pointer;
  
}

